/* scrollbar */

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  width: 7px;
  background: rgba(122, 122, 122, 0.568);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  width: 7px;
}
::-webkit-scrollbar {
  width: 7px;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  background-color: #25274d;
  color: white;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Anek Tamil", sans-serif;
}
.logo > img {
  height: 5vh;
}
.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.right-nav p {
  display: inline;
  margin-right: 3rem;
  font-size: 1rem;

  cursor: pointer;
}

ul a {
  color: white;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
}

.right-nav img {
  margin-right: 25px;
  cursor: pointer;
  height: 40px;
}
.active,
ul a:hover {
  /* border: 2px solid rgb(50, 149, 189); */
  background-color: #2e9cca;
  border-radius: 12px;
  color: white;
}

@media only screen and (max-width: 680px) {
  .right-nav p {
    display: inline;
    font-size: 15px;
    cursor: pointer;
    margin-right: 0px;
  }
  .right-nav img {
    margin-right: 5px;
    height: 35px;
  }
  .logo {
    display: none;
  }
  .navbar {
    justify-content: right;
  }
}

@media only screen and (max-width: 410px) {
  .right-nav {
    padding: 5px;
  }
  .right-nav p {
    font-size: 10px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
}
